.footer {
}
.container {
}
.footer-btn {
    width: 193px;
    height: 43px;
    border-color: #FF4E50;
    border-radius: 30px;
    color: #FF4E50;
    background-color: white;
}
.footer-wrapper{
    margin: 0 auto;
    margin:0px 40%;
}