@import './header';
@import './hero';
@import './partners';
@import './footer';
@import './utiles/placeholders';

.container{
    width: 940px;
    margin: 0 auto;
}

.bg-img{
    background-image: url(/img/desk-header\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.body{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 913px){
    .container{
        width: 470px;
        margin: 0 auto;
    }
}